html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

/* style.css */
.leva-container {
    /* Move the container off-screen to the left */
    transform: translateX(-100%);
    /* Optionally, you can hide it completely */
    /* display: none; */
  }
  